<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a href="" class="list-group-item list-group-item-action list-group-item-success"
               ng-class="$ctrl.getRequestStatusActiveClass('createAll', 'users');"
               ng-click="$ctrl.createAll('users');">
                Создать пользователей
                <span class="pull-xs-right">
                    <i ng-class="$ctrl.getRequestStatusIconClass('createAll', 'users');"></i>
                </span>
            </a>
            <a href="" class="list-group-item list-group-item-action list-group-item-success"
               ng-class="$ctrl.getRequestStatusActiveClass('createAll', 'mailboxes');"
               ng-click="$ctrl.createAll('mailboxes');">
                Создать почтовые ящики
                <span class="pull-xs-right">
                    <i ng-class="$ctrl.getRequestStatusIconClass('createAll', 'mailboxes');"></i>
                </span>
            </a>
            <a href="" class="list-group-item list-group-item-action list-group-item-success"
               ng-class="$ctrl.getRequestStatusActiveClass('createAll', 'letters');"
               ng-click="$ctrl.createAll('letters');">
                Создать письма
                <span class="pull-xs-right">
                    <i ng-class="$ctrl.getRequestStatusIconClass('createAll', 'letters');"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="list-group">
            <a href="" class="list-group-item list-group-item-action list-group-item-danger"
               ng-class="$ctrl.getRequestStatusActiveClass('removeAll', 'users');"
               ng-click="$ctrl.removeAll('users');">
                Удалить всех пользователей
                <span class="pull-xs-right">
                    <i ng-class="$ctrl.getRequestStatusIconClass('removeAll', 'users');"></i>
                </span>
            </a>
            <a href="" class="list-group-item list-group-item-action list-group-item-danger"
               ng-class="$ctrl.getRequestStatusActiveClass('removeAll', 'mailboxes');"
               ng-click="$ctrl.removeAll('mailboxes');">
                Удалить все почтовые ящики
                <span class="pull-xs-right">
                    <i ng-class="$ctrl.getRequestStatusIconClass('removeAll', 'mailboxes');"></i>
                </span>
            </a>
            <a href="" class="list-group-item list-group-item-action list-group-item-danger"
               ng-class="$ctrl.getRequestStatusActiveClass('removeAll', 'letters');"
               ng-click="$ctrl.removeAll('letters');">
                Удалить все письма
                <span class="pull-xs-right">
                    <i ng-class="$ctrl.getRequestStatusIconClass('removeAll', 'letters');"></i>
                </span>
            </a>
        </div>
    </div>
</div>
