[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ol {
    outline: 1px solid red;
}

nav {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.user-picker {
    max-height: 220px;
    overflow-y: auto;
}
