<div class="row">
  <div class="col-sm-4">
    <div class="list-group">
	    <a href="" class="list-group-item list-group-item-action list-group-item-danger"
	       ng-class="$ctrl.requestActives.removeAll"
	       ng-click="$ctrl.removeAll();">
		    Удалить все данные
		    <span class="pull-xs-right">
            <i ng-class="$ctrl.requestIcons.removeAll"></i>
          </span>
	    </a>

	    <a href="" class="list-group-item list-group-item-action list-group-item-success"
	       ng-class="$ctrl.requestActives.createAll"
         ng-click="$ctrl.createAll();">
          Создать данные по-умолчанию
          <span class="pull-xs-right">
            <i ng-class="$ctrl.requestIcons.createAll"></i>
          </span>
	      </a>
      </div>
  </div>
</div>
