<nav class="navbar navbar-dark bg-primary" ng-if="$ctrl.userIsAuth()">
	<a class="navbar-brand" href ui-sref="mail.box" ng-bind="$ctrl.getUserName()"></a>
	<ul class="nav navbar-nav">
		<li class="nav-item" ui-sref-active="active">
			<a href class="nav-item nav-link" ui-sref="mail.box">
				<i class="fa fa-envelope" aria-hidden="true"></i> Почта
			</a>
		</li>
		<li class="nav-item" ui-sref-active="active">
			<a href class="nav-link" ui-sref="contacts.list">
				<i class="fa fa-users" aria-hidden="true"></i> Контакты
			</a>
		</li>
	</ul>
	<ul class="nav navbar-nav float-xs-right">
		<li class="nav-item" ui-sref-active="active">
			<a href class="nav-link" ui-sref="test-api">
				<i class="fa fa-cog"></i> test-api
			</a>
		</li>
		<li class="nav-item" ui-sref-active="active">
			<a href class="nav-item nav-link" ui-sref="logout">
				<i class="fa fa-sign-out" aria-hidden="true"></i> Выйти
			</a>
		</li>
	</ul>
</nav>
