<alert ng-if="$ctrl.loading" class-name="'info'" title="''" description="'Загрузка...'"></alert>
<div ng-if="!$ctrl.loading" class="row">
	<div class="col-xs-12 col-md-6 offset-md-3">
		<div class="card text-xs-center">
			<div class="card-block">
				<h4 class="card-title" ng-bind="$ctrl.user.fullName"></h4>
				<h6 class="card-subtitle text-muted" ng-bind="$ctrl.user.email"></h6>
			</div>
			<img class="rounded-circle card-img-top" src="" ng-src="{{$ctrl.user.avatarUrl}}" alt="{{$ctrl.user.fullName}}">
			<div class="card-block">
				<p class="card-text">
					<span ng-bind="$ctrl.user.birthdate | date: 'dd.MM.yyyy'"></span>
					<i ng-class="$ctrl.getGenderIconClass($ctrl.user.gender);" aria-hidden="true"></i>
				</p>
				<p class="card-text" ng-bind="$ctrl.user.address"></p>
				<button ui-sref="newLetter({userId: $ctrl.user._id})" class="card-link btn btn-primary">
					<i class="fa fa-envelope" aria-hidden="true"></i> Отправить сообщение
				</button>
			</div>
		</div>
	</div>
</div>
